[Unit]
Description=Index $HOME filesystem.
Wants=ulauncher_index.timer

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=bash $HOME/.local/share/ulauncher/extensions/ulauncher-file-search/index.sh

[Install]
WantedBy=default.target
